Repository stockOneQ/back, pull requests merged in 2023-07, with the labels that each got.

#2 [Docs] Issue & PR Template을 등록한다
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/custom.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: 📃 Docs

#15 [Feat] 게시글 및 댓글, 대댓글 엔티티를 생성한다
  src/main/java/umc/stockoneqback/board/domain/Board.java
  src/main/java/umc/stockoneqback/board/domain/BoardRepository.java
  src/main/java/umc/stockoneqback/comment/domain/Comment.java
  src/main/java/umc/stockoneqback/comment/domain/CommentRepository.java
  src/main/java/umc/stockoneqback/reply/domain/Reply.java
  src/main/java/umc/stockoneqback/reply/domain/ReplyRepository.java
  src/main/java/umc/stockoneqback/user/domain/User.java
  src/test/java/umc/stockoneqback/board/domain/BoardTest.java
  src/test/java/umc/stockoneqback/comment/domain/CommentTest.java
  src/test/java/umc/stockoneqback/fixture/BoardFixture.java
  src/test/java/umc/stockoneqback/fixture/CommentFixture.java
  src/test/java/umc/stockoneqback/fixture/ReplyFixture.java
  src/test/java/umc/stockoneqback/fixture/UserFixture.java
  src/test/java/umc/stockoneqback/reply/domain/ReplyTest.java
Labels: ✨ Feature

#17 [Feat] 서비스 자체 회원가입 API를 설계한다
  .gitignore
  build.gradle
  src/main/java/umc/stockoneqback/business/domain/Business.java
  src/main/java/umc/stockoneqback/business/domain/Category.java
  src/main/java/umc/stockoneqback/business/domain/Share.java
  src/main/java/umc/stockoneqback/global/EnumStandard.java
  src/main/java/umc/stockoneqback/global/Status.java
  src/main/java/umc/stockoneqback/global/config/JpaAuditingConfiguration.java
  src/main/java/umc/stockoneqback/global/config/QueryDslConfiguration.java
  src/main/java/umc/stockoneqback/global/config/SecurityConfig.java
  src/main/java/umc/stockoneqback/global/exception/ApiGlobalExceptionHandler.java
  src/main/java/umc/stockoneqback/global/exception/ApplicationException.java
  src/main/java/umc/stockoneqback/global/exception/ErrorResponse.java
  src/main/java/umc/stockoneqback/global/exception/GlobalErrorCode.java
  src/main/java/umc/stockoneqback/global/utils/RandomCodeGenerator.java
  src/main/java/umc/stockoneqback/product/domain/Product.java
  src/main/java/umc/stockoneqback/product/domain/StoreCondition.java
  src/main/java/umc/stockoneqback/role/domain/Company.java
  src/main/java/umc/stockoneqback/role/domain/Store.java
  src/main/java/umc/stockoneqback/role/domain/company/Company.java
  src/main/java/umc/stockoneqback/role/domain/company/CompanyRepository.java
  src/main/java/umc/stockoneqback/role/domain/store/PartTimer.java
  src/main/java/umc/stockoneqback/role/domain/store/PartTimerRepository.java
  src/main/java/umc/stockoneqback/role/domain/store/PartTimers.java
  src/main/java/umc/stockoneqback/role/domain/store/Store.java
  src/main/java/umc/stockoneqback/role/domain/store/StoreRepository.java
  src/main/java/umc/stockoneqback/role/exception/CompanyErrorCode.java
  src/main/java/umc/stockoneqback/role/exception/StoreErrorCode.java
  src/main/java/umc/stockoneqback/role/service/CompanyService.java
  src/main/java/umc/stockoneqback/role/service/StoreService.java
  src/main/java/umc/stockoneqback/user/controller/UserApiController.java
  src/main/java/umc/stockoneqback/user/controller/dto/request/SignUpManagerRequest.java
  src/main/java/umc/stockoneqback/user/controller/dto/request/SignUpPartTimerRequest.java
  src/main/java/umc/stockoneqback/user/controller/dto/request/SignUpSupervisorRequest.java
  src/main/java/umc/stockoneqback/user/domain/Role.java
  src/main/java/umc/stockoneqback/user/domain/User.java
  src/main/java/umc/stockoneqback/user/domain/UserRepository.java
  src/main/java/umc/stockoneqback/user/exception/UserErrorCode.java
  src/main/java/umc/stockoneqback/user/service/UserService.java
  src/main/resources/application.yml
  src/test/java/umc/stockoneqback/common/ControllerTest.java
  src/test/java/umc/stockoneqback/common/DatabaseCleaner.java
  src/test/java/umc/stockoneqback/common/RepositoryTest.java
  src/test/java/umc/stockoneqback/common/ServiceTest.java
  src/test/java/umc/stockoneqback/fixture/UserFixture.java
  src/test/java/umc/stockoneqback/role/domain/company/CompanyRepositoryTest.java
  src/test/java/umc/stockoneqback/role/domain/company/CompanyTest.java
  src/test/java/umc/stockoneqback/role/domain/store/PartTimerTest.java
  src/test/java/umc/stockoneqback/role/domain/store/PartTimersTest.java
  src/test/java/umc/stockoneqback/role/domain/store/StoreRepositoryTest.java
  src/test/java/umc/stockoneqback/role/domain/store/StoreTest.java
  src/test/java/umc/stockoneqback/role/service/CompanyServiceTest.java
  src/test/java/umc/stockoneqback/role/service/StoreServiceTest.java
  src/test/java/umc/stockoneqback/user/controller/UserApiControllerTest.java
  src/test/java/umc/stockoneqback/user/domain/UserRepositoryTest.java
  src/test/java/umc/stockoneqback/user/domain/UserTest.java
  src/test/java/umc/stockoneqback/user/service/UserServiceTest.java
  src/test/resources/application.yml
Labels: 🐞 BugFix, 📬 API, ✨ Feature

#18 [F eat] 매장, 기업, 제품, 비즈니스, 자료공유 엔티티 및 global config를 생성한다
  .gitignore
  build.gradle
  src/main/java/umc/stockoneqback/board/domain/Board.java
  src/main/java/umc/stockoneqback/business/domain/Business.java
  src/main/java/umc/stockoneqback/business/domain/Category.java
  src/main/java/umc/stockoneqback/business/domain/Share.java
  src/main/java/umc/stockoneqback/comment/domain/Comment.java
  src/main/java/umc/stockoneqback/file/utils/exception/FileErrorCode.java
  src/main/java/umc/stockoneqback/global/base/ApiGlobalExceptionHandler.java
  src/main/java/umc/stockoneqback/global/base/BaseException.java
  src/main/java/umc/stockoneqback/global/base/BaseResponse.java
  src/main/java/umc/stockoneqback/global/base/BaseResponseStatus.java
  src/main/java/umc/stockoneqback/global/base/BaseTimeEntity.java
  src/main/java/umc/stockoneqback/global/base/ErrorCode.java
  src/main/java/umc/stockoneqback/global/base/ErrorResponse.java
  src/main/java/umc/stockoneqback/global/base/GlobalErrorCode.java
  src/main/java/umc/stockoneqback/global/base/Status.java
  src/main/java/umc/stockoneqback/global/enumconfig/EnumConverter.java
  src/main/java/umc/stockoneqback/global/enumconfig/EnumStandard.java
  src/main/java/umc/stockoneqback/global/exception/ApplicationException.java
  src/main/java/umc/stockoneqback/product/domain/Product.java
  src/main/java/umc/stockoneqback/product/domain/StoreCondition.java
  src/main/java/umc/stockoneqback/reply/domain/Reply.java
  src/main/java/umc/stockoneqback/role/domain/company/Company.java
  src/main/java/umc/stockoneqback/role/domain/store/PartTimer.java
  src/main/java/umc/stockoneqback/role/domain/store/Store.java
  src/main/java/umc/stockoneqback/role/exception/CompanyErrorCode.java
  src/main/java/umc/stockoneqback/role/exception/StoreErrorCode.java
  src/main/java/umc/stockoneqback/user/domain/Email.java
  src/main/java/umc/stockoneqback/user/domain/Password.java
  src/main/java/umc/stockoneqback/user/domain/Role.java
  src/main/java/umc/stockoneqback/user/domain/User.java
  src/main/java/umc/stockoneqback/user/exception/UserErrorCode.java
  src/main/resources/application.yml
  src/test/java/umc/stockoneqback/board/domain/BoardTest.java
  src/test/java/umc/stockoneqback/comment/domain/CommentTest.java
  src/test/java/umc/stockoneqback/fixture/UserFixture.java
  src/test/java/umc/stockoneqback/reply/domain/ReplyTest.java
  src/test/java/umc/stockoneqback/role/domain/company/CompanyTest.java
  src/test/java/umc/stockoneqback/role/domain/store/StoreRepositoryTest.java
  src/test/java/umc/stockoneqback/role/domain/store/StoreTest.java
  src/test/java/umc/stockoneqback/role/service/StoreServiceTest.java
  src/test/java/umc/stockoneqback/user/domain/EmailTest.java
  src/test/java/umc/stockoneqback/user/domain/PasswordTest.java
  src/test/java/umc/stockoneqback/user/domain/UserTest.java
  src/test/resources/application.yml
Labels: 🔨 Refactor, ✨ Feature

#22 [Fix] Merge 후 Exception 통일이 되지 않아 발생하는 에러를 해결한다
  src/main/java/umc/stockoneqback/business/domain/Business.java
  src/main/java/umc/stockoneqback/file/controller/FileController.java
  src/main/java/umc/stockoneqback/file/service/FileService.java
  src/main/java/umc/stockoneqback/global/base/ApiGlobalExceptionHandler.java
  src/main/java/umc/stockoneqback/global/base/BaseException.java
  src/main/java/umc/stockoneqback/global/base/GlobalErrorCode.java
  src/main/java/umc/stockoneqback/global/enumconfig/EnumConverter.java
  src/main/java/umc/stockoneqback/global/exception/ApplicationException.java
  src/main/java/umc/stockoneqback/role/service/CompanyService.java
  src/main/java/umc/stockoneqback/role/service/StoreService.java
  src/main/java/umc/stockoneqback/user/domain/User.java
  src/main/java/umc/stockoneqback/user/service/UserService.java
  src/test/java/umc/stockoneqback/board/domain/BoardTest.java
  src/test/java/umc/stockoneqback/comment/domain/CommentTest.java
  src/test/java/umc/stockoneqback/fixture/UserFixture.java
  src/test/java/umc/stockoneqback/role/service/CompanyServiceTest.java
  src/test/java/umc/stockoneqback/role/service/StoreServiceTest.java
  src/test/java/umc/stockoneqback/user/controller/UserApiControllerTest.java
  src/test/java/umc/stockoneqback/user/domain/UserTest.java
  src/test/java/umc/stockoneqback/user/service/UserServiceTest.java
Labels: 🐞 BugFix

#24 [Fix] EnumConverter가 정상적으로 작동하지 않는 문제를 해결한다
  src/main/java/umc/stockoneqback/business/domain/Business.java
  src/main/java/umc/stockoneqback/business/domain/Category.java
  src/main/java/umc/stockoneqback/business/domain/Share.java
  src/main/java/umc/stockoneqback/comment/domain/Comment.java
  src/main/java/umc/stockoneqback/global/base/Status.java
  src/main/java/umc/stockoneqback/global/config/SecurityConfig.java
  src/main/java/umc/stockoneqback/product/domain/Product.java
  src/main/java/umc/stockoneqback/product/domain/StoreCondition.java
  src/main/java/umc/stockoneqback/reply/domain/Reply.java
  src/main/java/umc/stockoneqback/role/domain/company/Company.java
  src/main/java/umc/stockoneqback/role/domain/store/Store.java
  src/main/java/umc/stockoneqback/user/domain/Role.java
  src/main/java/umc/stockoneqback/user/domain/User.java
Labels: 🐞 BugFix

#26 슈퍼바이저의 사장님 연결 신청 API를 구현한다
  src/main/java/umc/stockoneqback/auth/exception/AuthErrorCode.java
  src/main/java/umc/stockoneqback/auth/utils/AuthorizationExtractor.java
  src/main/java/umc/stockoneqback/auth/utils/JwtTokenProvider.java
  src/main/java/umc/stockoneqback/business/controller/BusinessApiController.java
  src/main/java/umc/stockoneqback/business/domain/Business.java
  src/main/java/umc/stockoneqback/business/domain/BusinessRepository.java
  src/main/java/umc/stockoneqback/business/exception/BusinessErrorCode.java
  src/main/java/umc/stockoneqback/business/service/BusinessService.java
  src/main/java/umc/stockoneqback/global/annotation/ExtractPayload.java
  src/main/java/umc/stockoneqback/global/annotation/ExtractPayloadArgumentResolver.java
  src/main/java/umc/stockoneqback/global/annotation/ExtractToken.java
  src/main/java/umc/stockoneqback/global/annotation/ExtractTokenArgumentResolver.java
  src/main/java/umc/stockoneqback/role/domain/store/Store.java
  src/main/java/umc/stockoneqback/user/controller/UserApiController.java
  src/main/java/umc/stockoneqback/user/exception/UserErrorCode.java
  src/main/java/umc/stockoneqback/user/service/UserFindService.java
  src/main/resources/application.yml
  src/test/java/umc/stockoneqback/business/controller/BusinessApiControllerTest.java
  src/test/java/umc/stockoneqback/business/domain/BusinessRepositoryTest.java
  src/test/java/umc/stockoneqback/business/service/BusinessServiceTest.java
  src/test/java/umc/stockoneqback/common/ControllerTest.java
  src/test/java/umc/stockoneqback/common/ServiceTest.java
  src/test/java/umc/stockoneqback/user/domain/UserRepositoryTest.java
  src/test/resources/application.yml
Labels: 📬 API, ✨ Feature

#34 [Feat] 제품 생성/조회/수정/삭제 및 자동완성 조회 API를 구현한다
  src/main/java/umc/stockoneqback/file/service/FileService.java
  src/main/java/umc/stockoneqback/product/controller/ProductController.java
  src/main/java/umc/stockoneqback/product/domain/Product.java
  src/main/java/umc/stockoneqback/product/domain/ProductRepository.java
  src/main/java/umc/stockoneqback/product/domain/StoreCondition.java
  src/main/java/umc/stockoneqback/product/dto/request/EditProductRequest.java
  src/main/java/umc/stockoneqback/product/dto/response/LoadProductResponse.java
  src/main/java/umc/stockoneqback/product/dto/response/SearchProductResponse.java
  src/main/java/umc/stockoneqback/product/dto/response/SearchProductUrl.java
  src/main/java/umc/stockoneqback/product/exception/ProductErrorCode.java
  src/main/java/umc/stockoneqback/product/service/ProductService.java
Labels: 📬 API, ✨ Feature

#32 [Feat] 게시글 등록/수정/삭제 API를 구현한다
  src/main/java/umc/stockoneqback/board/controller/BoardApiController.java
  src/main/java/umc/stockoneqback/board/controller/dto/BoardRequest.java
  src/main/java/umc/stockoneqback/board/domain/Board.java
  src/main/java/umc/stockoneqback/board/exception/BoardErrorCode.java
  src/main/java/umc/stockoneqback/board/service/BoardFindService.java
  src/main/java/umc/stockoneqback/board/service/BoardService.java
  src/main/java/umc/stockoneqback/user/exception/UserErrorCode.java
  src/test/java/umc/stockoneqback/board/controller/BoardApiControllerTest.java
  src/test/java/umc/stockoneqback/board/service/BoardServiceTest.java
  src/test/java/umc/stockoneqback/common/ControllerTest.java
  src/test/java/umc/stockoneqback/common/ServiceTest.java
Labels: ✨ Feature

#30 [Feat] 회원 정보 수정 API를 구현한다
  src/main/java/umc/stockoneqback/user/controller/UserApiController.java
  src/main/java/umc/stockoneqback/user/controller/dto/request/UserInfoRequest.java
  src/main/java/umc/stockoneqback/user/domain/User.java
  src/main/java/umc/stockoneqback/user/exception/UserErrorCode.java
  src/main/java/umc/stockoneqback/user/service/UserService.java
  src/test/java/umc/stockoneqback/user/controller/UserApiControllerTest.java
  src/test/java/umc/stockoneqback/user/domain/UserTest.java
  src/test/java/umc/stockoneqback/user/service/UserServiceTest.java
Labels: 📬 API, ✨ Feature

#35 [Feat] 댓글 등록/수정/삭제 API를 구현한다
  src/main/java/umc/stockoneqback/board/service/BoardFindService.java
  src/main/java/umc/stockoneqback/comment/controller/CommentApiController.java
  src/main/java/umc/stockoneqback/comment/controller/dto/CommentRequest.java
  src/main/java/umc/stockoneqback/comment/domain/Comment.java
  src/main/java/umc/stockoneqback/comment/domain/CommentRepository.java
  src/main/java/umc/stockoneqback/comment/exception/CommentErrorCode.java
  src/main/java/umc/stockoneqback/comment/service/CommentFindService.java
  src/main/java/umc/stockoneqback/comment/service/CommentService.java
  src/main/java/umc/stockoneqback/product/controller/ProductController.java
  src/main/java/umc/stockoneqback/product/domain/ProductRepository.java
  src/main/java/umc/stockoneqback/product/service/ProductService.java
  src/test/java/umc/stockoneqback/board/service/BoardServiceTest.java
  src/test/java/umc/stockoneqback/comment/controller/CommentApiControllerTest.java
  src/test/java/umc/stockoneqback/comment/domain/CommentRepositoryTest.java
  src/test/java/umc/stockoneqback/comment/service/CommentServiceTest.java
  src/test/java/umc/stockoneqback/common/ControllerTest.java
  src/test/java/umc/stockoneqback/common/DatabaseCleaner.java
  src/test/java/umc/stockoneqback/common/ServiceTest.java
Labels: 📬 API, ✨ Feature

#36 [Feat] 대댓글 등록/수정/삭제 API를 구현한다
  src/main/java/umc/stockoneqback/reply/controller/ReplyApiController.java
  src/main/java/umc/stockoneqback/reply/controller/dto/ReplyRequest.java
  src/main/java/umc/stockoneqback/reply/domain/Reply.java
  src/main/java/umc/stockoneqback/reply/domain/ReplyRepository.java
  src/main/java/umc/stockoneqback/reply/exception/ReplyErrorCode.java
  src/main/java/umc/stockoneqback/reply/service/ReplyFindService.java
  src/main/java/umc/stockoneqback/reply/service/ReplyService.java
  src/test/java/umc/stockoneqback/comment/service/CommentServiceTest.java
  src/test/java/umc/stockoneqback/common/ControllerTest.java
  src/test/java/umc/stockoneqback/common/ServiceTest.java
  src/test/java/umc/stockoneqback/reply/controller/ReplyApiControllerTest.java
  src/test/java/umc/stockoneqback/reply/domain/ReplyRepositoryTest.java
  src/test/java/umc/stockoneqback/reply/service/ReplyServiceTest.java
Labels: 📬 API, ✨ Feature

#42 [Feat] 서비스 자체 로그인/로그아웃 API를 구현한다
  src/main/java/umc/stockoneqback/auth/config/JwtAccessDeniedHandler.java
  src/main/java/umc/stockoneqback/auth/config/JwtAuthenticationEntryPoint.java
  src/main/java/umc/stockoneqback/auth/config/SecurityConfig.java
  src/main/java/umc/stockoneqback/auth/config/WebConfig.java
  src/main/java/umc/stockoneqback/auth/controller/AuthApiController.java
  src/main/java/umc/stockoneqback/auth/controller/TokenReissueApiController.java
  src/main/java/umc/stockoneqback/auth/controller/dto/request/LoginRequest.java
  src/main/java/umc/stockoneqback/auth/domain/CustomUserDetails.java
  src/main/java/umc/stockoneqback/auth/domain/Token.java
  src/main/java/umc/stockoneqback/auth/domain/TokenRepository.java
  src/main/java/umc/stockoneqback/auth/domain/UserDetailsDto.java
  src/main/java/umc/stockoneqback/auth/exception/AuthErrorCode.java
  src/main/java/umc/stockoneqback/auth/filters/JwtRequestFilter.java
  src/main/java/umc/stockoneqback/auth/service/AuthService.java
  src/main/java/umc/stockoneqback/auth/service/CustomUserDetailsService.java
  src/main/java/umc/stockoneqback/auth/service/TokenReissueService.java
  src/main/java/umc/stockoneqback/auth/service/TokenService.java
  src/main/java/umc/stockoneqback/auth/service/dto/response/LoginResponse.java
  src/main/java/umc/stockoneqback/auth/service/dto/response/TokenResponse.java
  src/main/java/umc/stockoneqback/auth/utils/JwtTokenProvider.java
  src/main/java/umc/stockoneqback/board/controller/BoardApiController.java
  src/main/java/umc/stockoneqback/global/annotation/ExtractPayloadArgumentResolver.java
  src/main/java/umc/stockoneqback/global/base/BaseResponse.java
  src/main/java/umc/stockoneqback/global/base/BaseResponseStatus.java
  src/main/java/umc/stockoneqback/global/base/GlobalErrorCode.java
  src/main/java/umc/stockoneqback/global/config/SecurityConfig.java
  src/main/java/umc/stockoneqback/user/controller/UserApiController.java
  src/main/java/umc/stockoneqback/user/domain/Role.java
  src/main/java/umc/stockoneqback/user/domain/UserRepository.java
  src/main/java/umc/stockoneqback/user/service/UserFindService.java
  src/main/resources/application.yml
  src/test/java/umc/stockoneqback/auth/controller/AuthApiControllerTest.java
  src/test/java/umc/stockoneqback/auth/domain/TokenRepositoryTest.java
  src/test/java/umc/stockoneqback/auth/service/AuthServiceTest.java
  src/test/java/umc/stockoneqback/auth/service/TokenReissueServiceTest.java
  src/test/java/umc/stockoneqback/auth/service/TokenServiceTest.java
  src/test/java/umc/stockoneqback/board/controller/BoardApiControllerTest.java
  src/test/java/umc/stockoneqback/business/controller/BusinessApiControllerTest.java
  src/test/java/umc/stockoneqback/common/ControllerTest.java
  src/test/java/umc/stockoneqback/common/ServiceTest.java
  src/test/java/umc/stockoneqback/fixture/TokenFixture.java
  src/test/java/umc/stockoneqback/security/roles/WithMockCustomUser.java
  src/test/java/umc/stockoneqback/security/roles/WithMockCustomUserSecurityContextFactory.java
  src/test/java/umc/stockoneqback/user/controller/UserApiControllerTest.java
Labels: ⚙ Setting, 📬 API, ✨ Feature

#47 [Fix] merge 후 pass되지 않는 테스트를 수정한다
  src/main/java/umc/stockoneqback/product/controller/ProductApiController.java
  src/main/java/umc/stockoneqback/product/domain/Product.java
  src/test/java/umc/stockoneqback/common/ControllerTest.java
  src/test/java/umc/stockoneqback/common/ServiceTest.java
  src/test/java/umc/stockoneqback/product/controller/ProductApiControllerTest.java
  src/test/java/umc/stockoneqback/product/domain/ProductRepositoryTest.java
  src/test/java/umc/stockoneqback/product/service/ProductServiceTest.java
Labels: 🐞 BugFix, 🔨 Refactor, ✅ Test

#41 [Feat] Friend 엔티티를 생성하고 친구 신청 관련 API를 구현한다
  src/main/java/umc/stockoneqback/friend/config/PrincipalDetails.java
  src/main/java/umc/stockoneqback/friend/controller/FriendApiController.java
  src/main/java/umc/stockoneqback/friend/domain/Friend.java
  src/main/java/umc/stockoneqback/friend/domain/FriendStatus.java
  src/main/java/umc/stockoneqback/friend/domain/Friends.java
  src/main/java/umc/stockoneqback/friend/dto/SearchUserResponse.java
  src/main/java/umc/stockoneqback/friend/exception/FriendErrorCode.java
  src/main/java/umc/stockoneqback/friend/repository/FriendRepository.java
  src/main/java/umc/stockoneqback/friend/service/FriendService.java
  src/main/java/umc/stockoneqback/user/domain/UserRepository.java
  src/test/java/umc/stockoneqback/user/domain/UserTest.java
Labels: 📬 API, ✨ Feature

#49 [Fix] @ExtractPayload, @ExtractToken 어노테이션이 작동하지 않는 문제를 해결한다
  src/main/java/umc/stockoneqback/auth/config/WebConfig.java
Labels: 🐞 BugFix

#52 [Refactor] 코드 리팩토링을 진행한다
  build.gradle
  src/main/java/umc/stockoneqback/auth/domain/Token.java
  src/main/java/umc/stockoneqback/auth/domain/TokenRepository.java
  src/main/java/umc/stockoneqback/auth/service/AuthService.java
  src/main/java/umc/stockoneqback/auth/service/TokenReissueService.java
  src/main/java/umc/stockoneqback/auth/utils/JwtTokenProvider.java
  src/main/java/umc/stockoneqback/board/controller/BoardApiController.java
  src/main/java/umc/stockoneqback/board/domain/Board.java
  src/main/java/umc/stockoneqback/business/controller/BusinessApiController.java
  src/main/java/umc/stockoneqback/business/domain/Category.java
  src/main/java/umc/stockoneqback/friend/config/PrincipalDetails.java
  src/main/java/umc/stockoneqback/friend/controller/FriendApiController.java
  src/main/java/umc/stockoneqback/friend/controller/FriendFindApiController.java
  src/main/java/umc/stockoneqback/friend/domain/Friend.java
  src/main/java/umc/stockoneqback/friend/domain/FriendStatus.java
  src/main/java/umc/stockoneqback/friend/domain/Friends.java
  src/main/java/umc/stockoneqback/friend/exception/FriendErrorCode.java
  src/main/java/umc/stockoneqback/friend/repository/FriendRepository.java
  src/main/java/umc/stockoneqback/friend/service/FriendFindService.java
  src/main/java/umc/stockoneqback/friend/service/FriendService.java
  src/main/java/umc/stockoneqback/friend/service/dto/SearchUserResponse.java
  src/main/java/umc/stockoneqback/global/annotation/ExtractPayloadArgumentResolver.java
  src/main/java/umc/stockoneqback/global/base/GlobalErrorCode.java
  src/main/java/umc/stockoneqback/global/base/Status.java
  src/main/java/umc/stockoneqback/global/config/WebConfig.java
  src/main/java/umc/stockoneqback/global/security/SecurityConfig.java
  src/main/java/umc/stockoneqback/global/security/domain/CustomUserDetails.java
  src/main/java/umc/stockoneqback/global/security/filters/JwtRequestFilter.java
  src/main/java/umc/stockoneqback/global/security/handler/JwtAccessDeniedHandler.java
  src/main/java/umc/stockoneqback/global/security/handler/JwtAuthenticationEntryPoint.java
  src/main/java/umc/stockoneqback/global/security/service/CustomUserDetailsService.java
  src/main/java/umc/stockoneqback/global/security/service/dto/UserDetailsDto.java
  src/main/java/umc/stockoneqback/global/utils/EnumConverter.java
  src/main/java/umc/stockoneqback/global/utils/EnumStandard.java
  src/main/java/umc/stockoneqback/product/domain/SortCondition.java
  src/main/java/umc/stockoneqback/product/domain/StoreCondition.java
  src/main/java/umc/stockoneqback/user/controller/UserApiController.java
  src/main/java/umc/stockoneqback/user/domain/Role.java
  src/main/java/umc/stockoneqback/user/domain/UserRepository.java
  src/main/java/umc/stockoneqback/user/exception/UserErrorCode.java
  src/test/java/umc/stockoneqback/auth/controller/AuthApiControllerTest.java
  src/test/java/umc/stockoneqback/auth/domain/TokenRepositoryTest.java
  src/test/java/umc/stockoneqback/auth/service/AuthServiceTest.java
  src/test/java/umc/stockoneqback/auth/service/TokenReissueServiceTest.java
  src/test/java/umc/stockoneqback/auth/service/TokenServiceTest.java
  src/test/java/umc/stockoneqback/board/controller/BoardApiControllerTest.java
  src/test/java/umc/stockoneqback/board/domain/BoardTest.java
  src/test/java/umc/stockoneqback/business/controller/BusinessApiControllerTest.java
  src/test/java/umc/stockoneqback/common/ControllerTest.java
  src/test/java/umc/stockoneqback/security/annotation/WithMockCustomUser.java
  src/test/java/umc/stockoneqback/security/annotation/WithMockCustomUserSecurityContextFactory.java
  src/test/java/umc/stockoneqback/user/controller/UserApiControllerTest.java
  src/test/java/umc/stockoneqback/user/domain/UserTest.java
Labels: 🔨 Refactor

#56 [Refactor] 댓글, 대댓글 관련 코드 리팩토링을 진행한다
  src/main/java/umc/stockoneqback/comment/controller/CommentApiController.java
  src/main/java/umc/stockoneqback/reply/controller/ReplyApiController.java
  src/test/java/umc/stockoneqback/board/controller/BoardApiControllerTest.java
  src/test/java/umc/stockoneqback/comment/controller/CommentApiControllerTest.java
  src/test/java/umc/stockoneqback/reply/controller/ReplyApiControllerTest.java
Labels: 🔨 Refactor

#57 [Test] FriendApiController에 대한 테스트 코드를 작성한다
  src/main/java/umc/stockoneqback/friend/controller/FriendFindApiController.java
  src/main/java/umc/stockoneqback/friend/exception/FriendErrorCode.java
  src/main/java/umc/stockoneqback/friend/service/FriendService.java
  src/test/java/umc/stockoneqback/business/controller/BusinessApiControllerTest.java
  src/test/java/umc/stockoneqback/common/ControllerTest.java
  src/test/java/umc/stockoneqback/friend/controller/FriendApiControllerTest.java
Labels: ✅ Test

#64 [Docs] Spring Rest Docs를 이용하여 API 명세서를 작성한다
  build.gradle
  src/docs/asciidoc/auth.adoc
  src/docs/asciidoc/friend.adoc
  src/docs/asciidoc/index.adoc
  src/docs/asciidoc/token-reissue.adoc
  src/docs/asciidoc/user.adoc
  src/test/java/umc/stockoneqback/auth/controller/AuthApiControllerTest.java
  src/test/java/umc/stockoneqback/auth/controller/TokenReissueApiControllerTest.java
  src/test/java/umc/stockoneqback/board/controller/BoardApiControllerTest.java
  src/test/java/umc/stockoneqback/board/controller/like/BoardLikeApiControllerTest.java
  src/test/java/umc/stockoneqback/comment/controller/CommentApiControllerTest.java
  src/test/java/umc/stockoneqback/common/ControllerTest.java
  src/test/java/umc/stockoneqback/reply/controller/ReplyApiControllerTest.java
  src/test/java/umc/stockoneqback/user/controller/UserApiControllerTest.java
Labels: 📃 Docs

#61 [Feat] 유통기한 경과 제품 목록 조회(웹 푸시 알림) API를 구현한다
  src/main/java/umc/stockoneqback/auth/service/TokenService.java
  src/main/java/umc/stockoneqback/product/controller/ProductApiController.java
  src/main/java/umc/stockoneqback/product/domain/ProductRepository.java
  src/main/java/umc/stockoneqback/product/dto/response/GetListOfPassProductByOnlineUsersResponse.java
  src/main/java/umc/stockoneqback/product/service/ProductService.java
  src/main/java/umc/stockoneqback/role/domain/store/PartTimerRepository.java
  src/main/java/umc/stockoneqback/role/domain/store/StoreRepository.java
  src/main/java/umc/stockoneqback/role/exception/PartTimerErrorCode.java
  src/main/java/umc/stockoneqback/role/service/PartTimerService.java
  src/main/java/umc/stockoneqback/role/service/StoreService.java
  src/main/java/umc/stockoneqback/user/exception/UserErrorCode.java
  src/test/java/umc/stockoneqback/common/DocumentFormatGenerator.java
  src/test/java/umc/stockoneqback/product/controller/ProductApiControllerTest.java
  src/test/java/umc/stockoneqback/product/service/ProductServiceTest.java
Labels: 📬 API, ✅ Test, ✨ Feature

#60 [Test] Friend 관련 테스트 코드를 작성한다
  src/main/java/umc/stockoneqback/friend/controller/FriendFindApiController.java
  src/main/java/umc/stockoneqback/friend/service/FriendFindService.java
  src/main/java/umc/stockoneqback/user/domain/UserRepository.java
  src/main/java/umc/stockoneqback/user/exception/UserErrorCode.java
  src/test/java/umc/stockoneqback/common/ServiceTest.java
  src/test/java/umc/stockoneqback/fixture/UserFixture.java
  src/test/java/umc/stockoneqback/friend/service/FriendFindServiceTest.java
  src/test/java/umc/stockoneqback/friend/service/FriendServiceTest.java
Labels: 🔨 Refactor, ✅ Test

#62 [Feat] 게시글 파일, 댓글 이미지 업로드 url 저장을 구현한다
  src/main/java/umc/stockoneqback/board/controller/BoardApiController.java
  src/main/java/umc/stockoneqback/board/service/BoardService.java
  src/main/java/umc/stockoneqback/comment/controller/CommentApiController.java
  src/main/java/umc/stockoneqback/comment/service/CommentService.java
  src/main/java/umc/stockoneqback/reply/controller/ReplyApiController.java
  src/main/java/umc/stockoneqback/reply/service/ReplyService.java
  src/test/java/umc/stockoneqback/board/service/BoardServiceTest.java
  src/test/java/umc/stockoneqback/comment/service/CommentServiceTest.java
  src/test/java/umc/stockoneqback/reply/service/ReplyServiceTest.java
Labels: 📬 API, ✨ Feature

#65 [Test] File 관련 테스트 코드를 작성한다
  build.gradle
  src/main/java/umc/stockoneqback/file/controller/FileApiController.java
  src/main/java/umc/stockoneqback/file/controller/FileController.java
  src/main/java/umc/stockoneqback/file/service/FileService.java
  src/main/java/umc/stockoneqback/file/utils/exception/FileErrorCode.java
  src/test/java/umc/stockoneqback/file/config/S3MockConfig.java
  src/test/java/umc/stockoneqback/file/service/FileServiceTest.java
  src/test/resources/files/test.png
  src/test/resources/files/test.txt
Labels: ⚙ Setting, 🔨 Refactor, ✅ Test

#67 [Feat] 친구 리스트 API를 구현한다
  src/docs/asciidoc/friend-information.adoc
  src/main/java/umc/stockoneqback/friend/controller/FriendInformationController.java
  src/main/java/umc/stockoneqback/friend/domain/Friend.java
  src/main/java/umc/stockoneqback/friend/infra/query/FriendInformationQueryRepository.java
  src/main/java/umc/stockoneqback/friend/infra/query/FriendInformationQueryRepositoryImpl.java
  src/main/java/umc/stockoneqback/friend/infra/query/dto/response/FriendInformation.java
  src/main/java/umc/stockoneqback/friend/repository/FriendRepository.java
  src/main/java/umc/stockoneqback/friend/service/FriendInformationService.java
  src/main/java/umc/stockoneqback/friend/service/FriendService.java
  src/main/java/umc/stockoneqback/friend/service/dto/FriendAssembler.java
  src/main/java/umc/stockoneqback/role/domain/company/Company.java
  src/main/java/umc/stockoneqback/role/domain/store/Store.java
  src/main/java/umc/stockoneqback/user/domain/User.java
  src/test/java/umc/stockoneqback/common/ControllerTest.java
  src/test/java/umc/stockoneqback/common/RepositoryTest.java
  src/test/java/umc/stockoneqback/common/ServiceTest.java
  src/test/java/umc/stockoneqback/fixture/ProductFixture.java
  src/test/java/umc/stockoneqback/fixture/StoreFixture.java
  src/test/java/umc/stockoneqback/fixture/UserFixture.java
  src/test/java/umc/stockoneqback/friend/controller/FriendInformationControllerTest.java
  src/test/java/umc/stockoneqback/friend/infra/query/FriendInformationQueryRepositoryImplTest.java
  src/test/java/umc/stockoneqback/friend/service/FriendInformationServiceTest.java
Labels: 📬 API, ✨ Feature

#68 [Test] 공통 예외에 대한 테스트 추가 및 Product API Test를 REST Docs에 연결, 공통 양식을 설정한다
  src/docs/asciidoc/product.adoc
  src/main/java/umc/stockoneqback/product/service/ProductService.java
  src/test/java/umc/stockoneqback/common/DocumentFormatGenerator.java
  src/test/java/umc/stockoneqback/product/controller/ProductApiControllerTest.java
  src/test/java/umc/stockoneqback/product/service/ProductServiceTest.java
  src/test/resources/org/springframework/restdocs/templates/path-parameters.snippet
  src/test/resources/org/springframework/restdocs/templates/request-headers.snippet
  src/test/resources/org/springframework/restdocs/templates/request-parameters.snippet
  src/test/resources/org/springframework/restdocs/templates/request-part-fields.snippet
  src/test/resources/org/springframework/restdocs/templates/request-parts.snippet
  src/test/resources/org/springframework/restdocs/templates/response-fields.snippet
Labels: 📃 Docs, ✅ Test

#72 [Feat] 메인 호출 시 가게 정보를 반환하는 API를 구현한다
  src/docs/asciidoc/product.adoc
  src/main/java/umc/stockoneqback/product/controller/ProductApiController.java
  src/main/java/umc/stockoneqback/product/dto/response/GetRequiredInfoResponse.java
  src/main/java/umc/stockoneqback/product/service/ProductService.java
  src/test/java/umc/stockoneqback/product/controller/ProductApiControllerTest.java
  src/test/java/umc/stockoneqback/product/service/ProductServiceTest.java
Labels: 📃 Docs, 📬 API, ✅ Test, ✨ Feature

#75 [Fix] Merge 후 테스트가 돌아가지 않는 문제를 해결한다
  src/test/java/umc/stockoneqback/common/ServiceTest.java
  src/test/java/umc/stockoneqback/file/service/FileServiceTest.java
  src/test/java/umc/stockoneqback/friend/service/FriendFindServiceTest.java
  src/test/java/umc/stockoneqback/friend/service/FriendServiceTest.java
  src/test/java/umc/stockoneqback/product/controller/ProductApiControllerTest.java
Labels: 🐞 BugFix

#77 [feat] 게시글, 댓글, 대댓글 ApiController를 수정한다
  src/docs/asciidoc/board.adoc
  src/docs/asciidoc/comment.adoc
  src/docs/asciidoc/reply.adoc
  src/main/java/umc/stockoneqback/board/controller/BoardApiController.java
  src/main/java/umc/stockoneqback/board/controller/like/BoardLikeApiController.java
  src/main/java/umc/stockoneqback/comment/controller/CommentApiController.java
  src/main/java/umc/stockoneqback/reply/controller/ReplyApiController.java
  src/main/resources/application.yml
  src/test/java/umc/stockoneqback/board/controller/BoardApiControllerTest.java
  src/test/java/umc/stockoneqback/board/controller/like/BoardLikeApiControllerTest.java
  src/test/java/umc/stockoneqback/comment/controller/CommentApiControllerTest.java
  src/test/java/umc/stockoneqback/reply/controller/ReplyApiControllerTest.java
Labels: 🔨 Refactor
