Repository stockOneQ/back, pull requests merged in 2023-08, with the labels that each got.

#84 [Test] 친구 검색 테스트 코드를 작성한다
  src/main/java/umc/stockoneqback/friend/controller/FriendFindApiController.java
  src/main/java/umc/stockoneqback/friend/infra/query/FriendFindQueryRepository.java
  src/main/java/umc/stockoneqback/friend/infra/query/FriendFindQueryRepositoryImpl.java
  src/main/java/umc/stockoneqback/friend/repository/FriendRepository.java
  src/main/java/umc/stockoneqback/friend/service/FriendFindService.java
  src/main/java/umc/stockoneqback/user/controller/UserApiController.java
  src/main/java/umc/stockoneqback/user/controller/UserFindApiController.java
  src/main/java/umc/stockoneqback/user/controller/dto/response/FindManagerResponse.java
  src/main/java/umc/stockoneqback/user/domain/User.java
  src/main/java/umc/stockoneqback/user/domain/UserRepository.java
  src/main/java/umc/stockoneqback/user/domain/search/SearchCondition.java
  src/main/java/umc/stockoneqback/user/exception/UserErrorCode.java
  src/main/java/umc/stockoneqback/user/infra/query/UserFindQueryRepository.java
  src/main/java/umc/stockoneqback/user/infra/query/UserFindQueryRepositoryImpl.java
  src/main/java/umc/stockoneqback/user/infra/query/dto/FindManager.java
  src/main/java/umc/stockoneqback/user/service/UserFindService.java
  src/main/resources/application.yml
  src/test/java/umc/stockoneqback/common/ControllerTest.java
  src/test/java/umc/stockoneqback/friend/infra/query/FriendFindQueryRepositoryImplTest.java
  src/test/java/umc/stockoneqback/friend/service/FriendFindServiceTest.java
  src/test/java/umc/stockoneqback/user/controller/UserFindApiControllerTest.java
  src/test/java/umc/stockoneqback/user/infra/query/UserFindQueryRepositoryImplTest.java
  src/test/java/umc/stockoneqback/user/service/UserFindServiceTest.java
Labels: 📬 API, ✅ Test, ✨ Feature

#85 [Feat] 아이디/비밀번호 찾기 API를 구현한다
  src/docs/asciidoc/user-information.adoc
  src/docs/asciidoc/user-update.adoc
  src/docs/asciidoc/user.adoc
  src/main/java/umc/stockoneqback/user/controller/UserApiController.java
  src/main/java/umc/stockoneqback/user/controller/UserInformationApiController.java
  src/main/java/umc/stockoneqback/user/controller/UserUpdateApiController.java
  src/main/java/umc/stockoneqback/user/controller/dto/request/FindLoginIdRequest.java
  src/main/java/umc/stockoneqback/user/controller/dto/request/UpdatePasswordRequest.java
  src/main/java/umc/stockoneqback/user/controller/dto/request/ValidateUpdatePasswordRequest.java
  src/main/java/umc/stockoneqback/user/domain/User.java
  src/main/java/umc/stockoneqback/user/domain/UserRepository.java
  src/main/java/umc/stockoneqback/user/exception/UserErrorCode.java
  src/main/java/umc/stockoneqback/user/service/UserFindService.java
  src/main/java/umc/stockoneqback/user/service/UserInformationService.java
  src/main/java/umc/stockoneqback/user/service/UserService.java
  src/main/java/umc/stockoneqback/user/service/UserUpdateService.java
  src/main/java/umc/stockoneqback/user/service/dto/response/LoginIdResponse.java
  src/main/java/umc/stockoneqback/user/service/dto/response/UpdatePasswordResponse.java
  src/test/java/umc/stockoneqback/common/ControllerTest.java
  src/test/java/umc/stockoneqback/user/controller/UserApiControllerTest.java
  src/test/java/umc/stockoneqback/user/controller/UserInformationApiControllerTest.java
  src/test/java/umc/stockoneqback/user/controller/UserUpdateApiControllerTest.java
  src/test/java/umc/stockoneqback/user/domain/UserRepositoryTest.java
  src/test/java/umc/stockoneqback/user/service/UserInformationServiceTest.java
  src/test/java/umc/stockoneqback/user/service/UserServiceTest.java
  src/test/java/umc/stockoneqback/user/service/UserUpdateServiceTest.java
Labels: 📬 API, ✨ Feature

#87 [Feat] 게시판 게시글 목록 API를 구현한다
  src/main/java/umc/stockoneqback/board/controller/BoardListApiController.java
  src/main/java/umc/stockoneqback/board/controller/dto/BoardListResponse.java
  src/main/java/umc/stockoneqback/board/domain/BoardRepository.java
  src/main/java/umc/stockoneqback/board/domain/SortCondition.java
  src/main/java/umc/stockoneqback/board/exception/BoardErrorCode.java
  src/main/java/umc/stockoneqback/board/infra/query/BoardListQueryRepository.java
  src/main/java/umc/stockoneqback/board/infra/query/BoardListQueryRepositoryImpl.java
  src/main/java/umc/stockoneqback/board/infra/query/dto/BoardList.java
  src/main/java/umc/stockoneqback/board/service/BoardListService.java
  src/main/java/umc/stockoneqback/comment/domain/CommentRepository.java
  src/test/java/umc/stockoneqback/board/controller/BoardListApiControllerTest.java
  src/test/java/umc/stockoneqback/board/infra/query/BoardListQueryRepositoryImplTest.java
  src/test/java/umc/stockoneqback/board/service/BoardListServiceTest.java
  src/test/java/umc/stockoneqback/common/ControllerTest.java
  src/test/java/umc/stockoneqback/fixture/BoardFixture.java
Labels: 📬 API, ✅ Test, ✨ Feature

#90 [Feat] 게시판 게시글 목록 API를 수정한다
  src/docs/asciidoc/board-list.adoc
  src/main/java/umc/stockoneqback/board/controller/BoardListApiController.java
  src/main/java/umc/stockoneqback/board/domain/Board.java
  src/main/java/umc/stockoneqback/board/domain/SearchType.java
  src/main/java/umc/stockoneqback/board/exception/BoardErrorCode.java
  src/main/java/umc/stockoneqback/board/infra/query/BoardListQueryRepository.java
  src/main/java/umc/stockoneqback/board/infra/query/BoardListQueryRepositoryImpl.java
  src/main/java/umc/stockoneqback/board/service/BoardListService.java
  src/main/java/umc/stockoneqback/user/domain/UserRepository.java
  src/test/java/umc/stockoneqback/board/controller/BoardListApiControllerTest.java
  src/test/java/umc/stockoneqback/board/infra/query/BoardListQueryRepositoryImplTest.java
  src/test/java/umc/stockoneqback/board/service/BoardListServiceTest.java
  src/test/java/umc/stockoneqback/common/ControllerTest.java
Labels: 🐞 BugFix, 📃 Docs, ✨ Feature

#91 [Test] Friend/Business ProductService 테스트 코드를 작성한다
  src/main/java/umc/stockoneqback/business/service/BusinessProductService.java
  src/main/java/umc/stockoneqback/friend/service/FriendProductService.java
  src/test/java/umc/stockoneqback/business/service/BusinessProductServiceTest.java
  src/test/java/umc/stockoneqback/friend/service/FriendProductServiceTest.java
  src/test/java/umc/stockoneqback/product/service/ProductOthersServiceTest.java
  src/test/java/umc/stockoneqback/product/service/ProductServiceTest.java
Labels: ✅ Test

#92 [Feat] 사용자 정보 조회 API를 구현한다
  src/docs/asciidoc/user-information.adoc
  src/main/java/umc/stockoneqback/business/domain/Business.java
  src/main/java/umc/stockoneqback/business/service/BusinessProductService.java
  src/main/java/umc/stockoneqback/comment/domain/Comment.java
  src/main/java/umc/stockoneqback/friend/controller/FriendProductApiController.java
  src/main/java/umc/stockoneqback/friend/domain/Friend.java
  src/main/java/umc/stockoneqback/friend/infra/query/FriendFindQueryRepositoryImpl.java
  src/main/java/umc/stockoneqback/friend/service/FriendProductService.java
  src/main/java/umc/stockoneqback/product/domain/Product.java
  src/main/java/umc/stockoneqback/reply/domain/Reply.java
  src/main/java/umc/stockoneqback/user/controller/UserApiController.java
  src/main/java/umc/stockoneqback/user/controller/UserFindApiController.java
  src/main/java/umc/stockoneqback/user/controller/UserInformationApiController.java
  src/main/java/umc/stockoneqback/user/domain/User.java
  src/main/java/umc/stockoneqback/user/domain/UserRepository.java
  src/main/java/umc/stockoneqback/user/service/UserFindService.java
  src/main/java/umc/stockoneqback/user/service/UserInformationService.java
  src/main/java/umc/stockoneqback/user/service/dto/response/FindManagerResponse.java
  src/main/java/umc/stockoneqback/user/service/dto/response/UserInformationResponse.java
  src/test/java/umc/stockoneqback/business/controller/BusinessProductApiControllerTest.java
  src/test/java/umc/stockoneqback/common/ControllerTest.java
  src/test/java/umc/stockoneqback/fixture/StoreFixture.java
  src/test/java/umc/stockoneqback/friend/controller/FriendProductApiControllerTest.java
  src/test/java/umc/stockoneqback/user/controller/UserFindApiControllerTest.java
  src/test/java/umc/stockoneqback/user/controller/UserInformationApiControllerTest.java
  src/test/java/umc/stockoneqback/user/service/UserFindServiceTest.java
  src/test/java/umc/stockoneqback/user/service/UserInformationServiceTest.java
Labels: 📬 API, ✨ Feature

#93 [Feat] 커뮤니티 게시글 세부 조회 API를 구현한다
  src/docs/asciidoc/board.adoc
  src/main/java/umc/stockoneqback/board/controller/BoardApiController.java
  src/main/java/umc/stockoneqback/board/controller/dto/BoardRequest.java
  src/main/java/umc/stockoneqback/board/controller/dto/BoardResponse.java
  src/main/java/umc/stockoneqback/board/service/BoardService.java
  src/test/java/umc/stockoneqback/board/controller/BoardApiControllerTest.java
Labels: 📬 API, ✨ Feature

#98 [Feat] 게시글 상세조회에 사용되는 BoardResponse를 수정한다
  src/main/java/umc/stockoneqback/board/controller/dto/BoardResponse.java
  src/main/java/umc/stockoneqback/board/service/BoardService.java
  src/main/java/umc/stockoneqback/user/domain/UserRepository.java
  src/test/java/umc/stockoneqback/board/controller/BoardApiControllerTest.java
Labels: 🔨 Refactor, ✨ Feature

#96 [Feat] 게시판 내가 쓴 글 보기 API를 구현한다
  src/docs/asciidoc/board-list.adoc
  src/main/java/umc/stockoneqback/board/controller/BoardListApiController.java
  src/main/java/umc/stockoneqback/board/domain/SearchType.java
  src/main/java/umc/stockoneqback/board/infra/query/BoardListQueryRepository.java
  src/main/java/umc/stockoneqback/board/infra/query/BoardListQueryRepositoryImpl.java
  src/main/java/umc/stockoneqback/board/service/BoardListService.java
  src/main/java/umc/stockoneqback/user/exception/UserErrorCode.java
  src/main/resources/application.yml
  src/test/java/umc/stockoneqback/board/controller/BoardListApiControllerTest.java
  src/test/java/umc/stockoneqback/board/infra/query/BoardListQueryRepositoryImplTest.java
  src/test/java/umc/stockoneqback/board/service/BoardListServiceTest.java
Labels: 📃 Docs, 📬 API, ✨ Feature

#102 [Api] BoardList Dto를 수정한다
  src/main/java/umc/stockoneqback/board/controller/dto/BoardListResponse.java
  src/main/java/umc/stockoneqback/board/service/BoardListService.java
  src/test/java/umc/stockoneqback/board/controller/BoardListApiControllerTest.java
Labels: 📬 API

#105 [Feat] F&A 게시판 조회 API를 구현한다
  build.gradle
  src/docs/asciidoc/admin-static.adoc
  src/docs/asciidoc/user-fa.adoc
  src/main/java/umc/stockoneqback/admin/controller/AdminStaticApiController.java
  src/main/java/umc/stockoneqback/admin/domain/StaticFA.java
  src/main/java/umc/stockoneqback/admin/domain/StaticFARedisRepository.java
  src/main/java/umc/stockoneqback/admin/dto/request/AddFARequest.java
  src/main/java/umc/stockoneqback/admin/service/AdminStaticService.java
  src/main/java/umc/stockoneqback/global/config/RedisConfig.java
  src/main/java/umc/stockoneqback/user/controller/UserFAApiController.java
  src/main/java/umc/stockoneqback/user/domain/Role.java
  src/main/java/umc/stockoneqback/user/service/UserFAService.java
  src/main/java/umc/stockoneqback/user/service/dto/response/GetFAResponse.java
  src/main/resources/application.yml
  src/test/java/umc/stockoneqback/admin/controller/AdminStaticApiControllerTest.java
  src/test/java/umc/stockoneqback/admin/domain/StaticFARedisRepositoryTest.java
  src/test/java/umc/stockoneqback/admin/service/AdminStaticServiceTest.java
  src/test/java/umc/stockoneqback/common/ControllerTest.java
  src/test/java/umc/stockoneqback/common/EmbeddedRedisConfig.java
  src/test/java/umc/stockoneqback/common/ServiceTest.java
  src/test/java/umc/stockoneqback/fixture/UserFixture.java
  src/test/java/umc/stockoneqback/user/controller/UserFAApiControllerTest.java
  src/test/java/umc/stockoneqback/user/service/UserFAServiceTest.java
  src/test/resources/application.yml
Labels: 📃 Docs, 📬 API, ✅ Test, ✨ Feature

#104 [Feat] Board에서 file 컬럼을 제거한다
  src/main/java/umc/stockoneqback/board/controller/BoardApiController.java
  src/main/java/umc/stockoneqback/board/controller/dto/BoardResponse.java
  src/main/java/umc/stockoneqback/board/domain/Board.java
  src/main/java/umc/stockoneqback/board/service/BoardService.java
  src/test/java/umc/stockoneqback/board/controller/BoardApiControllerTest.java
  src/test/java/umc/stockoneqback/board/domain/BoardTest.java
  src/test/java/umc/stockoneqback/board/service/BoardServiceTest.java
  src/test/java/umc/stockoneqback/fixture/BoardFixture.java
Labels: 🔨 Refactor

#107 [Refactor] Share 패키지를 생성한다
  src/main/java/umc/stockoneqback/business/domain/Category.java
  src/main/java/umc/stockoneqback/share/controller/ShareApiController.java
  src/main/java/umc/stockoneqback/share/domain/Category.java
  src/main/java/umc/stockoneqback/share/domain/Share.java
  src/main/java/umc/stockoneqback/share/exception/ShareErrorCode.java
  src/main/java/umc/stockoneqback/share/repository/ShareRepository.java
  src/main/java/umc/stockoneqback/share/service/ShareService.java
Labels: 🔨 Refactor

#113 [Feat] 커뮤니티 게시글 세부 조회 항목을 수정한다
  src/docs/asciidoc/board.adoc
  src/main/java/umc/stockoneqback/board/controller/BoardApiController.java
  src/main/java/umc/stockoneqback/board/controller/dto/BoardResponse.java
  src/main/java/umc/stockoneqback/board/service/BoardService.java
  src/test/java/umc/stockoneqback/board/controller/BoardApiControllerTest.java
  src/test/java/umc/stockoneqback/board/service/BoardServiceTest.java
Labels: 📃 Docs, 🔨 Refactor

#116 [Fix] 제품 수정 로직에서 같은 이미지의 중복 업로드를 방지하도록 로직 수정
  src/main/java/umc/stockoneqback/product/service/ProductService.java
Labels: 🐞 BugFix

#114 [Refactor] 커뮤니티 게시글 목록 페이지를 수정한다
  src/main/java/umc/stockoneqback/board/controller/BoardListApiController.java
  src/main/java/umc/stockoneqback/board/controller/dto/BoardListResponse.java
  src/main/java/umc/stockoneqback/board/controller/dto/CustomBoardListResponse.java
  src/main/java/umc/stockoneqback/board/infra/query/BoardListQueryRepository.java
  src/main/java/umc/stockoneqback/board/infra/query/BoardListQueryRepositoryImpl.java
  src/main/java/umc/stockoneqback/board/infra/query/dto/BoardList.java
  src/main/java/umc/stockoneqback/board/service/BoardListService.java
  src/test/java/umc/stockoneqback/board/controller/BoardListApiControllerTest.java
  src/test/java/umc/stockoneqback/board/infra/query/BoardListQueryRepositoryImplTest.java
  src/test/java/umc/stockoneqback/board/service/BoardListServiceTest.java
Labels: 📬 API, 🔨 Refactor

#120 [Feat] 유통기한 경과 제품 목록 조회(웹 푸시 알림) API 로직을 수정한다
  .gitignore
  build.gradle
  src/docs/asciidoc/auth.adoc
  src/docs/asciidoc/product.adoc
  src/docs/asciidoc/token-reissue.adoc
  src/main/java/umc/stockoneqback/admin/service/AdminStaticService.java
  src/main/java/umc/stockoneqback/auth/controller/AuthApiController.java
  src/main/java/umc/stockoneqback/auth/controller/TokenReissueApiController.java
  src/main/java/umc/stockoneqback/auth/controller/dto/request/SaveFcmRequest.java
  src/main/java/umc/stockoneqback/auth/domain/FcmToken.java
  src/main/java/umc/stockoneqback/auth/domain/FcmTokenRedisRepository.java
  src/main/java/umc/stockoneqback/auth/service/AuthService.java
  src/main/java/umc/stockoneqback/auth/service/TokenReissueService.java
  src/main/java/umc/stockoneqback/auth/service/TokenService.java
  src/main/java/umc/stockoneqback/global/config/FcmConfig.java
  src/main/java/umc/stockoneqback/product/config/PassProductBatchConfig.java
  src/main/java/umc/stockoneqback/product/config/PassProductBatchScheduler.java
  src/main/java/umc/stockoneqback/product/controller/ProductApiController.java
  src/main/java/umc/stockoneqback/product/domain/ProductRepository.java
  src/main/java/umc/stockoneqback/product/service/PassProductFCMService.java
  src/main/java/umc/stockoneqback/product/service/ProductService.java
  src/main/resources/application.yml
  src/test/java/umc/stockoneqback/auth/controller/AuthApiControllerTest.java
  src/test/java/umc/stockoneqback/auth/controller/TokenReissueApiControllerTest.java
  src/test/java/umc/stockoneqback/auth/domain/FcmTokenRedisRepositoryTest.java
  src/test/java/umc/stockoneqback/auth/service/AuthServiceTest.java
  src/test/java/umc/stockoneqback/auth/service/TokenReissueServiceTest.java
  src/test/java/umc/stockoneqback/auth/service/TokenServiceTest.java
  src/test/java/umc/stockoneqback/common/ServiceTest.java
  src/test/java/umc/stockoneqback/common/TestBatchLegacyConfig.java
  src/test/java/umc/stockoneqback/fixture/TokenFixture.java
  src/test/java/umc/stockoneqback/product/config/PassProductBatchConfigTest.java
  src/test/java/umc/stockoneqback/product/config/PassProductBatchSchedulerTest.java
  src/test/java/umc/stockoneqback/product/controller/ProductApiControllerTest.java
  src/test/java/umc/stockoneqback/product/service/ProductServiceTest.java
Labels: 📬 API, ✅ Test, ✨ Feature

#123 [Fix] 머지 이후 Redis 관련 테스트코드 오류를 해결한다
  src/test/java/umc/stockoneqback/common/EmbeddedRedisConfig.java
  src/test/java/umc/stockoneqback/common/RedisCleaner.java
  src/test/java/umc/stockoneqback/product/config/PassProductBatchConfigTest.java
Labels: 🐞 BugFix, ✅ Test

#118 [Feat] 커넥트 자료 목록 API를 구현한다
  src/docs/asciidoc/share-list.adoc
  src/main/java/umc/stockoneqback/business/domain/BusinessRepository.java
  src/main/java/umc/stockoneqback/business/infra/query/BusinessFindQueryRepository.java
  src/main/java/umc/stockoneqback/business/infra/query/BusinessFindQueryRepositoryImpl.java
  src/main/java/umc/stockoneqback/business/infra/query/dto/FilteredBusinessUser.java
  src/main/java/umc/stockoneqback/business/infra/query/dto/FindBusinessUser.java
  src/main/java/umc/stockoneqback/share/controller/ShareListApiController.java
  src/main/java/umc/stockoneqback/share/domain/SearchType.java
  src/main/java/umc/stockoneqback/share/domain/Share.java
  src/main/java/umc/stockoneqback/share/exception/ShareErrorCode.java
  src/main/java/umc/stockoneqback/share/infra/query/ShareListQueryRepository.java
  src/main/java/umc/stockoneqback/share/infra/query/ShareListQueryRepositoryImpl.java
  src/main/java/umc/stockoneqback/share/infra/query/dto/CustomShareListPage.java
  src/main/java/umc/stockoneqback/share/infra/query/dto/ShareList.java
  src/main/java/umc/stockoneqback/share/repository/ShareRepository.java
  src/main/java/umc/stockoneqback/share/service/ShareListService.java
  src/test/java/umc/stockoneqback/business/infra/query/BusinessFindQueryRepositoryImplTest.java
  src/test/java/umc/stockoneqback/common/ControllerTest.java
  src/test/java/umc/stockoneqback/common/ServiceTest.java
  src/test/java/umc/stockoneqback/fixture/ShareFixture.java
  src/test/java/umc/stockoneqback/share/controller/ShareListApiControllerTest.java
  src/test/java/umc/stockoneqback/share/infra/query/ShareListQueryRepositoryImplTest.java
  src/test/java/umc/stockoneqback/share/service/ShareListServiceTest.java
Labels: 📃 Docs, 📬 API, ✅ Test, ✨ Feature

#124 [Feat] 커뮤니티 게시글 조회수 증가 기능을 구현한다
  src/main/java/umc/stockoneqback/board/domain/Board.java
  src/main/java/umc/stockoneqback/board/service/BoardService.java
  src/test/java/umc/stockoneqback/board/service/BoardServiceTest.java
Labels: ✅ Test, ✨ Feature

#125 [Feat] 커뮤니티 친구 검색 API 수정 및 Spring Rest Docs를 작성한다
  src/docs/asciidoc/user-find.adoc
  src/main/java/umc/stockoneqback/business/domain/BusinessRepository.java
  src/main/java/umc/stockoneqback/user/controller/UserFindApiController.java
  src/main/java/umc/stockoneqback/user/domain/search/SearchCondition.java
  src/main/java/umc/stockoneqback/user/domain/search/SearchType.java
  src/main/java/umc/stockoneqback/user/exception/UserErrorCode.java
  src/main/java/umc/stockoneqback/user/infra/query/UserFindQueryRepository.java
  src/main/java/umc/stockoneqback/user/infra/query/UserFindQueryRepositoryImpl.java
  src/main/java/umc/stockoneqback/user/infra/query/dto/FindManager.java
  src/main/java/umc/stockoneqback/user/service/UserFindService.java
  src/test/java/umc/stockoneqback/user/controller/UserFindApiControllerTest.java
  src/test/java/umc/stockoneqback/user/infra/query/UserFindQueryRepositoryImplTest.java
  src/test/java/umc/stockoneqback/user/service/UserFindServiceTest.java
Labels: 📃 Docs, 📬 API, ✅ Test, ✨ Feature

#126 [Feat] 회원 탈퇴 API를 구현한다
  src/docs/asciidoc/user.adoc
  src/main/java/umc/stockoneqback/board/domain/BoardRepository.java
  src/main/java/umc/stockoneqback/board/domain/like/BoardLikeRepository.java
  src/main/java/umc/stockoneqback/board/service/BoardService.java
  src/main/java/umc/stockoneqback/board/service/like/BoardLikeService.java
  src/main/java/umc/stockoneqback/business/domain/BusinessRepository.java
  src/main/java/umc/stockoneqback/business/service/BusinessService.java
  src/main/java/umc/stockoneqback/comment/domain/CommentRepository.java
  src/main/java/umc/stockoneqback/comment/service/CommentService.java
  src/main/java/umc/stockoneqback/friend/repository/FriendRepository.java
  src/main/java/umc/stockoneqback/friend/service/FriendService.java
  src/main/java/umc/stockoneqback/global/security/service/CustomUserDetailsService.java
  src/main/java/umc/stockoneqback/product/service/PassProductFCMService.java
  src/main/java/umc/stockoneqback/product/service/ProductService.java
  src/main/java/umc/stockoneqback/reply/domain/ReplyRepository.java
  src/main/java/umc/stockoneqback/reply/service/ReplyService.java
  src/main/java/umc/stockoneqback/role/domain/company/Company.java
  src/main/java/umc/stockoneqback/role/domain/store/PartTimerRepository.java
  src/main/java/umc/stockoneqback/role/domain/store/PartTimers.java
  src/main/java/umc/stockoneqback/role/domain/store/Store.java
  src/main/java/umc/stockoneqback/role/service/CompanyService.java
  src/main/java/umc/stockoneqback/role/service/PartTimerService.java
  src/main/java/umc/stockoneqback/role/service/StoreService.java
  src/main/java/umc/stockoneqback/share/repository/ShareRepository.java
  src/main/java/umc/stockoneqback/share/service/ShareService.java
  src/main/java/umc/stockoneqback/user/controller/UserApiController.java
  src/main/java/umc/stockoneqback/user/domain/UserRepository.java
  src/main/java/umc/stockoneqback/user/infra/query/UserFindQueryRepositoryImpl.java
  src/main/java/umc/stockoneqback/user/service/UserFindService.java
  src/main/java/umc/stockoneqback/user/service/UserService.java
  src/main/java/umc/stockoneqback/user/service/UserUpdateService.java
  src/test/java/umc/stockoneqback/board/domain/BoardRepositoryTest.java
  src/test/java/umc/stockoneqback/board/domain/like/BoardLikeRepositoryTest.java
  src/test/java/umc/stockoneqback/board/service/BoardServiceTest.java
  src/test/java/umc/stockoneqback/board/service/like/BoardLikeServiceTest.java
  src/test/java/umc/stockoneqback/business/domain/BusinessRepositoryTest.java
  src/test/java/umc/stockoneqback/business/service/BusinessProductServiceTest.java
  src/test/java/umc/stockoneqback/business/service/BusinessServiceTest.java
  src/test/java/umc/stockoneqback/comment/domain/CommentRepositoryTest.java
  src/test/java/umc/stockoneqback/comment/service/CommentServiceTest.java
  src/test/java/umc/stockoneqback/common/ServiceTest.java
  src/test/java/umc/stockoneqback/fixture/ShareFixture.java
  src/test/java/umc/stockoneqback/friend/domain/FriendRepositoryTest.java
  src/test/java/umc/stockoneqback/friend/service/FriendProductServiceTest.java
  src/test/java/umc/stockoneqback/friend/service/FriendServiceTest.java
  src/test/java/umc/stockoneqback/reply/domain/ReplyRepositoryTest.java
  src/test/java/umc/stockoneqback/reply/service/ReplyServiceTest.java
  src/test/java/umc/stockoneqback/role/domain/company/CompanyTest.java
  src/test/java/umc/stockoneqback/role/domain/store/PartTimerRepositoryTest.java
  src/test/java/umc/stockoneqback/role/domain/store/PartTimersTest.java
  src/test/java/umc/stockoneqback/role/domain/store/StoreTest.java
  src/test/java/umc/stockoneqback/role/service/CompanyServiceTest.java
  src/test/java/umc/stockoneqback/role/service/PartTimerServiceTest.java
  src/test/java/umc/stockoneqback/role/service/StoreServiceTest.java
  src/test/java/umc/stockoneqback/share/domain/ShareRepositoryTest.java
  src/test/java/umc/stockoneqback/share/service/ShareServiceTest.java
  src/test/java/umc/stockoneqback/user/controller/UserApiControllerTest.java
  src/test/java/umc/stockoneqback/user/domain/UserRepositoryTest.java
  src/test/java/umc/stockoneqback/user/service/UserServiceTest.java
  src/test/java/umc/stockoneqback/user/service/UserUpdateServiceTest.java
Labels: 📃 Docs, 📬 API, ✅ Test, ✨ Feature

#127 [Feat] 커뮤니티 게시글 댓글 목록 API를 구현한다
  src/docs/asciidoc/comment-list.adoc
  src/main/java/umc/stockoneqback/comment/controller/CommentListApiController.java
  src/main/java/umc/stockoneqback/comment/controller/dto/CommentListResponse.java
  src/main/java/umc/stockoneqback/comment/controller/dto/CustomCommentListResponse.java
  src/main/java/umc/stockoneqback/comment/domain/CommentRepository.java
  src/main/java/umc/stockoneqback/comment/service/CommentListService.java
  src/main/java/umc/stockoneqback/reply/controller/dto/ReplyListResponse.java
  src/main/java/umc/stockoneqback/reply/domain/ReplyRepository.java
  src/main/java/umc/stockoneqback/reply/service/ReplyListService.java
  src/test/java/umc/stockoneqback/comment/controller/CommentListApiControllerTest.java
  src/test/java/umc/stockoneqback/comment/service/CommentListServiceTest.java
  src/test/java/umc/stockoneqback/common/ControllerTest.java
  src/test/java/umc/stockoneqback/fixture/CommentFixture.java
  src/test/java/umc/stockoneqback/fixture/ReplyFixture.java
  src/test/java/umc/stockoneqback/reply/service/ReplyListServiceTest.java
Labels: 📬 API, ✅ Test, ✨ Feature

#130 [Fix] 머지 이후 UserFindQueryRepository 쿼리 오류를 해결한다
  src/main/java/umc/stockoneqback/user/infra/query/UserFindQueryRepositoryImpl.java
  src/test/java/umc/stockoneqback/common/ServiceTest.java
  src/test/java/umc/stockoneqback/share/infra/query/ShareListQueryRepositoryImplTest.java
Labels: 🐞 BugFix

#135 [Feat] ReplyRepository 쿼리 오류를 해결한다
  src/main/java/umc/stockoneqback/reply/domain/ReplyRepository.java
  src/test/java/umc/stockoneqback/comment/controller/CommentListApiControllerTest.java
  src/test/java/umc/stockoneqback/reply/service/ReplyListServiceTest.java
Labels: 🐞 BugFix

#128 [Feat] 커넥트의 자료 등록, 수정, 삭제, 조회 API를 구현한다
  src/docs/asciidoc/share.adoc
  src/main/java/umc/stockoneqback/share/controller/ShareApiController.java
  src/main/java/umc/stockoneqback/share/controller/dto/ShareRequest.java
  src/main/java/umc/stockoneqback/share/controller/dto/ShareResponse.java
  src/main/java/umc/stockoneqback/share/domain/Share.java
  src/main/java/umc/stockoneqback/share/exception/ShareErrorCode.java
  src/main/java/umc/stockoneqback/share/service/ShareService.java
  src/test/java/umc/stockoneqback/common/ControllerTest.java
  src/test/java/umc/stockoneqback/share/controller/ShareApiControllerTest.java
  src/test/java/umc/stockoneqback/share/service/ShareServiceTest.java
Labels: 📃 Docs, 📬 API, ✅ Test, ✨ Feature

#144 [Refactor] Friend와 Business의 Status를 통일한다
  src/docs/asciidoc/user-find.adoc
  src/main/java/umc/stockoneqback/business/domain/Business.java
  src/main/java/umc/stockoneqback/business/infra/query/BusinessFindQueryRepositoryImpl.java
  src/main/java/umc/stockoneqback/friend/domain/Friend.java
  src/main/java/umc/stockoneqback/friend/domain/FriendStatus.java
  src/main/java/umc/stockoneqback/friend/infra/query/FriendFindQueryRepository.java
  src/main/java/umc/stockoneqback/friend/infra/query/FriendFindQueryRepositoryImpl.java
  src/main/java/umc/stockoneqback/friend/infra/query/FriendInformationQueryRepository.java
  src/main/java/umc/stockoneqback/friend/infra/query/FriendInformationQueryRepositoryImpl.java
  src/main/java/umc/stockoneqback/friend/infra/query/dto/response/FriendInformation.java
  src/main/java/umc/stockoneqback/friend/service/FriendInformationService.java
  src/main/java/umc/stockoneqback/friend/service/FriendService.java
  src/main/java/umc/stockoneqback/global/base/RelationStatus.java
  src/main/java/umc/stockoneqback/share/service/ShareListService.java
  src/main/java/umc/stockoneqback/user/infra/query/UserFindQueryRepository.java
  src/main/java/umc/stockoneqback/user/infra/query/UserFindQueryRepositoryImpl.java
  src/main/java/umc/stockoneqback/user/service/UserFindService.java
  src/test/java/umc/stockoneqback/business/domain/BusinessRepositoryTest.java
  src/test/java/umc/stockoneqback/business/service/BusinessServiceTest.java
  src/test/java/umc/stockoneqback/friend/controller/FriendInformationControllerTest.java
  src/test/java/umc/stockoneqback/friend/domain/FriendRepositoryTest.java
  src/test/java/umc/stockoneqback/friend/infra/query/FriendFindQueryRepositoryImplTest.java
  src/test/java/umc/stockoneqback/friend/infra/query/FriendInformationQueryRepositoryImplTest.java
  src/test/java/umc/stockoneqback/friend/service/FriendInformationServiceTest.java
  src/test/java/umc/stockoneqback/friend/service/FriendProductServiceTest.java
  src/test/java/umc/stockoneqback/friend/service/FriendServiceTest.java
  src/test/java/umc/stockoneqback/user/controller/UserFindApiControllerTest.java
  src/test/java/umc/stockoneqback/user/infra/query/UserFindQueryRepositoryImplTest.java
  src/test/java/umc/stockoneqback/user/service/UserFindServiceTest.java
Labels: 🔨 Refactor

#142 [Fix] ShareServiceTest와 ShareRepositoryTest를 수정한다
  src/main/java/umc/stockoneqback/share/service/ShareService.java
  src/test/java/umc/stockoneqback/share/infra/query/ShareListQueryRepositoryImplTest.java
Labels: ✅ Test

#150 [Feat] 조회수 증가 API를 구현한다
  src/docs/asciidoc/board.adoc
  src/main/java/umc/stockoneqback/board/controller/BoardApiController.java
  src/main/java/umc/stockoneqback/board/service/BoardService.java
  src/test/java/umc/stockoneqback/board/controller/BoardApiControllerTest.java
  src/test/java/umc/stockoneqback/board/service/BoardServiceTest.java
Labels: 📬 API, ✨ Feature

#149 [Refactor] Product 로직을 리팩토링한다
  src/docs/asciidoc/business-product.adoc
  src/docs/asciidoc/friend-product.adoc
  src/docs/asciidoc/product.adoc
  src/main/java/umc/stockoneqback/business/controller/BusinessProductApiController.java
  src/main/java/umc/stockoneqback/business/service/BusinessProductService.java
  src/main/java/umc/stockoneqback/friend/controller/FriendProductApiController.java
  src/main/java/umc/stockoneqback/friend/service/FriendProductService.java
  src/main/java/umc/stockoneqback/product/controller/ProductApiController.java
  src/main/java/umc/stockoneqback/product/domain/ProductRepository.java
  src/main/java/umc/stockoneqback/product/domain/SearchCondition.java
  src/main/java/umc/stockoneqback/product/exception/ProductErrorCode.java
  src/main/java/umc/stockoneqback/product/infra/query/FindProductQueryRepository.java
  src/main/java/umc/stockoneqback/product/infra/query/FindProductQueryRepositoryImpl.java
  src/main/java/umc/stockoneqback/product/infra/query/dto/FindProductPage.java
  src/main/java/umc/stockoneqback/product/service/ProductOthersService.java
  src/main/java/umc/stockoneqback/product/service/ProductService.java
  src/test/java/umc/stockoneqback/business/controller/BusinessProductApiControllerTest.java
  src/test/java/umc/stockoneqback/business/service/BusinessProductServiceTest.java
  src/test/java/umc/stockoneqback/friend/controller/FriendProductApiControllerTest.java
  src/test/java/umc/stockoneqback/friend/service/FriendProductServiceTest.java
  src/test/java/umc/stockoneqback/product/controller/ProductApiControllerTest.java
  src/test/java/umc/stockoneqback/product/domain/ProductRepositoryTest.java
  src/test/java/umc/stockoneqback/product/service/ProductOthersServiceTest.java
  src/test/java/umc/stockoneqback/product/service/ProductServiceTest.java
Labels: 📃 Docs, 🔨 Refactor, ✅ Test

#153 [Feat] 로그인 응답을 수정한다
  src/main/java/umc/stockoneqback/auth/service/AuthService.java
  src/main/java/umc/stockoneqback/auth/service/dto/response/LoginResponse.java
  src/test/java/umc/stockoneqback/auth/controller/AuthApiControllerTest.java
  src/test/java/umc/stockoneqback/auth/service/AuthServiceTest.java
Labels: ✨ Feature

#155 [Chore] Firebase의 설정 파일 형식을 변경한다
  .gitignore
  src/main/java/umc/stockoneqback/global/config/FcmConfig.java
Labels: ⚙ Setting

#158 [Fix] 환경변수 문제 해결
  src/main/java/umc/stockoneqback/global/config/FcmConfig.java
  src/main/resources/application.yml
Labels: 🐞 BugFix

#160 [Infra] AWS EC2 배포를 위한 Github Actions Workflows yml을 추가한다
  .github/workflows/deploy.yml
  .gitignore
  appspec.yml
  build.gradle
  scripts/health.sh
  scripts/profile.sh
  scripts/start.sh
  scripts/stop.sh
  scripts/switch.sh
  src/main/java/umc/stockoneqback/auth/service/TokenReissueService.java
  src/main/java/umc/stockoneqback/friend/service/FriendProductService.java
  src/main/java/umc/stockoneqback/global/config/FcmConfig.java
  src/main/java/umc/stockoneqback/global/controller/ProfileController.java
  src/main/java/umc/stockoneqback/global/security/SecurityConfig.java
  src/main/java/umc/stockoneqback/product/controller/ProductApiController.java
  src/main/java/umc/stockoneqback/product/service/ProductOthersService.java
  src/main/java/umc/stockoneqback/share/service/ShareListService.java
  src/main/resources/application-firebase.yml
  src/main/resources/application-real1.yml
  src/main/resources/application-real2.yml
  src/main/resources/application.yml
  src/test/java/umc/stockoneqback/admin/controller/AdminStaticApiControllerTest.java
  src/test/java/umc/stockoneqback/board/controller/BoardApiControllerTest.java
  src/test/java/umc/stockoneqback/board/infra/query/BoardListQueryRepositoryImplTest.java
  src/test/java/umc/stockoneqback/business/controller/BusinessProductApiControllerTest.java
  src/test/java/umc/stockoneqback/business/service/BusinessProductServiceTest.java
  src/test/java/umc/stockoneqback/comment/controller/CommentListApiControllerTest.java
  src/test/java/umc/stockoneqback/comment/service/CommentListServiceTest.java
  src/test/java/umc/stockoneqback/common/ControllerTest.java
  src/test/java/umc/stockoneqback/friend/infra/query/FriendFindQueryRepositoryImplTest.java
  src/test/java/umc/stockoneqback/friend/infra/query/FriendInformationQueryRepositoryImplTest.java
  src/test/java/umc/stockoneqback/friend/service/FriendInformationServiceTest.java
  src/test/java/umc/stockoneqback/friend/service/FriendProductServiceTest.java
  src/test/java/umc/stockoneqback/friend/service/FriendServiceTest.java
  src/test/java/umc/stockoneqback/product/controller/ProductApiControllerTest.java
  src/test/java/umc/stockoneqback/product/service/ProductServiceTest.java
  src/test/java/umc/stockoneqback/reply/service/ReplyListServiceTest.java
  src/test/java/umc/stockoneqback/share/service/ShareServiceTest.java
  src/test/java/umc/stockoneqback/user/controller/UserFAApiControllerTest.java
  src/test/resources/application-firebase.yml
  src/test/resources/application.yml
Labels: 💻 Infra

#159 [Feat] 커넥트 Business 목록 api를 구현한다
  src/main/java/umc/stockoneqback/business/controller/BusinessListApiController.java
  src/main/java/umc/stockoneqback/business/domain/BusinessRepository.java
  src/main/java/umc/stockoneqback/business/infra/query/BusinessListQueryRepository.java
  src/main/java/umc/stockoneqback/business/infra/query/BusinessListQueryRepositoryImpl.java
  src/main/java/umc/stockoneqback/business/infra/query/dto/BusinessList.java
  src/main/java/umc/stockoneqback/business/service/BusinessListService.java
  src/main/java/umc/stockoneqback/business/service/dto/BusinessListResponse.java
  src/test/java/umc/stockoneqback/business/controller/BusinessListApiControllerTest.java
  src/test/java/umc/stockoneqback/business/infra/query/BusinessListQueryRepositoryImplTest.java
  src/test/java/umc/stockoneqback/business/service/BusinessListServiceTest.java
  src/test/java/umc/stockoneqback/common/ControllerTest.java
Labels: 📬 API, ✅ Test, ✨ Feature

#164 [Fix] API 에러에 대한 알림 범위를 축소한다
  src/main/java/umc/stockoneqback/business/infra/query/dto/BusinessList.java
  src/main/java/umc/stockoneqback/business/service/BusinessListService.java
  src/main/java/umc/stockoneqback/global/exception/ApiGlobalExceptionHandler.java
  src/test/java/umc/stockoneqback/business/controller/BusinessListApiControllerTest.java
  src/test/resources/application.yml
Labels: 🐞 BugFix

#162 [Refactor] Product 로직 리팩토링 및 누락된 테스트코드를 작성한다
  src/main/java/umc/stockoneqback/business/service/BusinessProductService.java
  src/main/java/umc/stockoneqback/friend/service/FriendProductService.java
  src/main/java/umc/stockoneqback/product/controller/ProductApiController.java
  src/main/java/umc/stockoneqback/product/controller/ProductFindApiController.java
  src/main/java/umc/stockoneqback/product/domain/ProductRepository.java
  src/main/java/umc/stockoneqback/product/infra/query/ProductFindQueryRepository.java
  src/main/java/umc/stockoneqback/product/infra/query/ProductFindQueryRepositoryImpl.java
  src/main/java/umc/stockoneqback/product/infra/query/dto/ProductFindPage.java
  src/main/java/umc/stockoneqback/product/service/ProductFindOthersService.java
  src/main/java/umc/stockoneqback/product/service/ProductFindService.java
  src/main/java/umc/stockoneqback/product/service/ProductService.java
  src/test/java/umc/stockoneqback/common/ControllerTest.java
  src/test/java/umc/stockoneqback/friend/controller/FriendProductApiControllerTest.java
  src/test/java/umc/stockoneqback/product/controller/ProductApiControllerTest.java
  src/test/java/umc/stockoneqback/product/controller/ProductFindApiControllerTest.java
  src/test/java/umc/stockoneqback/product/domain/ProductRepositoryTest.java
  src/test/java/umc/stockoneqback/product/infra/query/ProductFindQueryRepositoryImplTest.java
  src/test/java/umc/stockoneqback/product/service/ProductFindOthersServiceTest.java
  src/test/java/umc/stockoneqback/product/service/ProductFindServiceTest.java
  src/test/java/umc/stockoneqback/product/service/ProductServiceTest.java
  src/test/resources/application-firebase.yml
Labels: 🔨 Refactor, ✅ Test

#166 [Fix] 머지 후 충돌을 해결한다
  src/main/java/umc/stockoneqback/product/service/ProductFindService.java
  src/test/java/umc/stockoneqback/product/controller/ProductFindApiControllerTest.java
  src/test/java/umc/stockoneqback/product/service/ProductFindServiceTest.java
Labels: 🐞 BugFix
